{% load tailwind_filters %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>
    {% include "components/tailwind.html" %}
</head>
<body>
    
  <section class="w-full max-w-md mx-auto py-12 md:py-24">
    <div class="space-y-4 text-center">
      <h2 class="text-3xl font-bold">Registrate</h2>
      <p class="text-muted-foreground">Crea una cuenta en nuestra plataforma</p>
    </div>
    <form method="post" class="mt-8 space-y-4" >
      {% csrf_token %}
      {{ form|crispy }}
      <button
        class="inline-flex bg-black text-white items-center justify-center whitespace-nowrap rounded-md text-sm font-medium ring-offset-background transition-colors focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-ring focus-visible:ring-offset-2 disabled:pointer-events-none disabled:opacity-50 bg-primary text-primary-foreground hover:bg-primary/90 h-10 px-4 py-2 w-full"
        type="submit"
      >
        Register
      </button>
    </form>
    <a href="{% url "login" %}" class="mt-6 cursor-pointer mx-auto w-full flex justify-center text-center text-sm text-muted-foreground">Ya tengo una cuenta</a>
  </section>
</body>
</html>